# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode configurations
.vscode

# Custom files
code/bin/readnoff
code/bin/coff2flat
code/bin/coff2noff
code/bin/disassemble
code/filesys/Makefile.depends
code/filesys/nachos
code/filesys/swtch.s
code/network/Makefile.depends
code/network/nachos
code/network/swtch.s
code/userland/filetest
code/userland/halt
code/userland/matmult
code/userland/shell
code/userland/hello_exec
code/userland/sort
code/userland/tiny shell
code/userland/*.coff
code/userland/lib/
code/userland/mips-dec-ultrix42/*
code/userland/tiny_shell
code/userland/read
code/userland/write
code/userland/create
code/userland/test_io
code/userland/tiny_shell
code/userland/cat
code/threads/Makefile.depends
code/threads/nachos
code/threads/swtch.s
code/userprog/Makefile.depends
code/userprog/nachos
code/userprog/swtch.s
code/vmem/Makefile.depends
code/vmem/nachos
code/vmem/swtch.s
